In [6]:
# time 
# from module_name import object_name

import datetime
feb_16_2019 = datetime.date(year=2019, month=2, day=16)
feb_16_2019 = datetime.date(2019, 2, 16)
print(feb_16_2019) #2019-02-16
 
time_13_48min_5sec = datetime.time(hour=13, minute=48, second=5)
time_13_48min_5sec = datetime.time(13, 48, 5)
print(time_13_48min_5sec) #13:48:05
 
timestamp= datetime.datetime(year=2019, month=2, day=16, hour=13, minute=48, second=5)
timestamp = datetime.datetime(2019, 2, 16, 13, 48, 5)
print (timestamp) #2019-01-02 13:48:05

2019-02-16
13:48:05
2019-02-16 13:48:05

In [37]:
#Python date and time module provides datetime, date and time types
from datetime import datetime
td = datetime(1989,6,9,5,1, 30)# do not write number 6 as 06, you will get an invalid token error.
print (td.day)
print (td.minute)
print (td.date())
print (td.time())
td.strftime('%m/%d/%y %H:%M:%S')#strf method converts the date and time into a string

9
1
1989-06-09
05:01:30

'06/09/89 05:01:30'

In [ ]:
# Subtracting time 
from datetime import datetime, date, time
td = datetime(1989,6,9,5,1, 30)
td1 = datetime(1988,8, 31, 11, 2, 23)
new_time =td1 - td # you can subtract two different date and time functions
print new_time 
print type(new_time) # the type is date and time
print td +new_time

In [4]:
from datetime import datetime, date, time
td=datetime.strptime('1989911', '%Y%m%d') # strings can be converted to date and time objects using strptime
print (td)

td1 = datetime(1989,6,9,5,1, 30)
td1.replace(hour =0 ,minute=0, second=30)#you can replace function to edit datetim function
print(td1)

1989-09-11 00:00:00
1989-06-09 05:01:30

In [36]:

# % for modulus (returns the remainder)
# ** for exponentiation

result1 = 25 % 2
result2 = 5 ** 3

print(result1)
print(result2)

1
125

In [12]:
from datetime import datetime
date1=datetime.now()
print(date1)

2021-07-07 23:11:42.072266

In [13]:
# elif Statement
 
pet_type = "fish"
 
if pet_type == "dog":
  print("You have a dog.")
elif pet_type == "cat":
  print("You have a cat.")
elif pet_type == "fish":
  # this is performed
  print("You have a fish")
else:
  print("Not sure!")

You have a fish

In [16]:
# Equal operator
 
if 'Yes' == 'Yes':
  # evaluates to True
  print('They are equal')

# NOT Equal operator     
if "Yes" != "No":
  # evaluates to True
  print("They are NOT equal")

They are equal
They are NOT equal

In [19]:
#each num in nums will be printed below
nums = [1,2,3,4,5]
for num in nums: 
  print(num)

# Print the numbers 0, 1, 2:
for i in range(3):
  print(i)
 
# Print "WARNING" 3 times:
for i in range(3):
  print("WARNING")

1
2
3
4
5
0
1
2
WARNING
WARNING
WARNING

In [20]:
# Infinite loops

numbers = [0, 254, 2, -1, 3]
 
for num in numbers:
  if (num < 0):
    print("Negative number detected!")
    break
  print(num)

0
254
2
Negative number detected!

In [21]:
# Use continue to skip that iteration 

big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]
 
# Print only positive numbers:
for i in big_number_list:
  if i < 0:
    continue
  print(i)

1
2
4
5
2

In [22]:
# While Loop
i = 1
while i < 6:
  print(i)
  i = i + 1

1
2
3
4
5

In [28]:
# Functions and Indentation
# Function returns value

def testfunction(number):
  # This code is part of testfunction
  print("Inside the testfunction")
  sum = 0
  for x in range(number):
    # More indentation because 'for' has a code block
    # but still part of he function
    sum += x
  return sum
print("This is not part of testfunction")
print(testfunction(4))

This is not part of testfunction
Inside the testfunction
6

In [34]:
# Retun Multiple parameters

def square_point(x, y, z):
  x_squared = x * x
  y_squared = y * y
  z_squared = z * z
  # Return all three values:
  return x_squared, y_squared, z_squared
 
three_squared, four_squared, five_squared = square_point(3, 4, 5)
print(three_squared, four_squared, five_squared)

9 16 25

In [ ]:
# Handling exceptions 
# will excucute the "TRY" code, if not possible will execute "Except code"
def check_leap_year(year): 
  is_leap_year = False
  if year % 4 == 0:
    is_leap_year = True
 
try:
  check_leap_year(2018)
  print(is_leap_year) 
  # The variable is_leap_year is declared inside the function
except:
  print('Your code raised an error!')

In [37]:
# String format

msg1 = 'Fred scored {} out of {} points.'
msg1.format(3, 10)
# => 'Fred scored 3 out of 10 points.'
print(msg1)
msg2 = 'Fred {verb} a {adjective} {noun}.'
msg2.format(adjective='fluffy', verb='tickled', noun='hamster')
# => 'Fred tickled a fluffy hamster.'

Fred scored {} out of {} points.

'Fred tickled a fluffy hamster.'

In [42]:
# random.randint(start, end)
import random

r1 = random.randint(0, 10)  
print(r1) # Random integer where 0 <= r1 <= 10
 
# Prints a random element from a sequence
seq = ["a", "b", "c", "d", "e"]
r2 = random.choice(seq)
print(r2) # Random element in the sequence

5
c

In [45]:
with open('somefile.txt') as file_object:
    print(file_object)

<_io.TextIOWrapper name='somefile.txt' mode='r' encoding='cp1252'>

In [3]:
# Read a file, all contents as one string 
with open('somefile.txt') as text_file:
  text_data = text_file.read()
print(text_data)

GIHAN This is Line 1
GIHAN This is line 2
GIHAN This is line 3Tomatoes, cucumbers, celery

In [4]:
with open('data/datasomefile.txt') as text_file:
  text_data = text_file.read()
print(text_data)

GIHAN This is Line 1
GIHAN This is line 2
GIHAN This is line 3Tomatoes, cucumbers, celery
Tomatoes, cucumbers, celery

In [5]:
# This bring a array of strings. One string for each line
with open('somefile.txt') as file_object:
  file_data = file_object.readlines()
print(file_data)

for line in file_data:
  print(line)

['GIHAN This is Line 1\n', 'GIHAN This is line 2\n', 'GIHAN This is line 3Tomatoes, cucumbers, celery\n', 'Tomatoes, cucumbers, celery\n']
GIHAN This is Line 1

GIHAN This is line 2

GIHAN This is line 3Tomatoes, cucumbers, celery

Tomatoes, cucumbers, celery

In [1]:
# Read line by line
with open('somefile.txt') as story_object:
  print(story_object.readline())
  print(story_object.readline())
  print(story_object.readline())

GIHAN This is Line 1

GIHAN This is line 2

GIHAN This is line 3Tomatoes, cucumbers, celery

In [4]:
## if file is open on w all contents will be dedlete when you write

#with open('diary.txt','w') as diary:
#  diary.write('Special events for today')


# Append will add a line

with open('somefile.txt', 'a') as shop:
  shop.write('Tomatoes, cucumbers, celery\n')

In [6]:
# Type function

a = 1
print(type(a)) # <class 'int'>
 
a = 1.1
print(type(a)) # <class 'float'>
 
a = 'b'
print(type(a)) # <class 'str'>
 
a = None
print(type(a)) # <class 'NoneType'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [8]:
class Animal:
  def __init__(self, name, number_of_legs):
    self.name = name
    self.number_of_legs = number_of_legs
    
print Animal

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(Animal)? (<ipython-input-8-79a43e08b42c>, line 6)

In [9]:
# Class

class my_class:
  class_variable = "I am a Class Variable!"
  
x = my_class()
y = my_class()
 
print(x.class_variable) #I am a Class Variable!
print(y.class_variable) #I am a Class Variable!

I am a Class Variable!
I am a Class Variable!

In [1]:
# Dog class
class Dog:
  # Method of the class
  def bark(self):
    print("Ham-Ham")
 
# Create a new instance
charlie = Dog()
 
# Call the method
charlie.bark()
# This will output "Ham-Ham"

Ham-Ham

In [9]:
a= 'Big data'
print (type(a))

b= 'Examiner'
print (type(b))

c= 4.5 

print (isinstance(a,str))
print (isinstance(a,int))
print (isinstance(c, (int, float)))

<class 'str'>
<class 'str'>
True
False
True

In [15]:
a = 'Bill gates'
a.upper # remove <tab> and press tab button

In [17]:
# Objects whose value can be changed, once they are created are called mutable objects. Objects whose value cannot be changed, once they are created are called immutable objects

# list, dict, arrays are a mutable
programming = ['Python', 'R', 'Java', 'Php']
programming[2] ='c++'
print (programming)

#Strings and tuples are immutable
z_tuple = (9, 10, 11, 23)
z_tuple[1] = 'twenty two' # you cant mutate a tuple

['Python', 'R', 'c++', 'Php']

TypeError: 'tuple' object does not support item assignment

In [25]:
# many python objects can be converted to a string using 'str' function
x = 56664
y = str(x)
print (y)
print (type(y))
# strings act like other sequences, such as lists and tuples
a = 'Python'
print (list(a))
print (a[:3]) # you can slice a python string 
print (a[3:])

56664
<class 'str'>
['P', 'y', 't', 'h', 'o', 'n']
Pyt
hon

In [26]:
x = 'Java is a powerful programming language'
y = x.replace('Java', 'Python')
y

'Python is a powerful programming language'

In [30]:
print ("Hii space left is just %.3f gb, and  the data base is %s"  %(0.987, 'mysql'))
print ("Hii space left is just %f gb, and  the data base is %s"  %(0.987, 'mysql'))
print ("Hii space left is just %d gb, and  the data base is %s"  %(0.987, 'mysql'))

Hii space left is just 0.987 gb, and  the data base is mysql
Hii space left is just 0.987000 gb, and  the data base is mysql
Hii space left is just 0 gb, and  the data base is mysql

In [32]:
#Empty iterables(list, dict, strings, tuples etc) are treated as False ,if used with a control flow(if, for ,while.. etc)
print (bool([]), bool([1,2,3]))
print (bool('Hello Python!'), bool(''))
bool(0), bool(1)

False True
True False

(False, True)

In [9]:
# suppose we want our float function to return the input value, we can do this using the folowing code.
def return_float(x):
    try:
        return float(x)
    except:
        return x

print (return_float('4.55'))
print (return_float('big data')) # This time it didnt return a value error

4.55
big data

In [15]:
#print float((9,8))  ->this will return a type error, remove the comment and check the output.
def return_float(x):
    try:
        return float(x)
    except(TypeError, ValueError):# type error and value error are mentioned as a exception values
        return x
print (return_float((9,8)))  #now you can see it returns 9,8

(9, 8)

In [18]:
#Tuples are one dimensional, fixed length, imutable sequence of Python Objects.
#You can convert any sequence to a tuple by using 'tuple' keyword
print (tuple([4,0,2]))
pythonista = tuple('Python')
print (pythonista)
pythonista[0] # you can accessing each element in a tuple,

(4, 0, 2)
('P', 'y', 't', 'h', 'o', 'n')

'P'

In [21]:
y = ('Mean', 'Median', 'Mode')+('Chisquare', 'Annova') + ('statistical significance',) # you can concatenate a tuple using'+' symbol. 
print (y)
x=('Mean', 'Median') *4  # try printing a tuple using a number
print (x)

('Mean', 'Median', 'Mode', 'Chisquare', 'Annova', 'statistical significance')
('Mean', 'Median', 'Mean', 'Median', 'Mean', 'Median', 'Mean', 'Median')

In [23]:
# List 

countries =['Usa', 'India','Afghanistan',' Pakistan']
y = countries.extend(['Britian', 'Canada', 'Uzbekistan', 'Turkey'])
z = countries.sort(key=len) # countries are sorted according to number of characters
print (countries) 
# extend can be a handy feature when your lists are large.

['Usa', 'India', 'Canada', 'Turkey', 'Britian', ' Pakistan', 'Uzbekistan', 'Afghanistan']

In [25]:
#Sorted function returns a new sorted list from a sequence
print (sorted([89, 99,45,63,25,53,34,56]))
print (sorted('Big data examiner'))

[25, 34, 45, 53, 56, 63, 89, 99]
[' ', ' ', 'B', 'a', 'a', 'a', 'd', 'e', 'e', 'g', 'i', 'i', 'm', 'n', 'r', 't', 'x']

<zip object at 0x000001BA38495C00>
0: Big_data, c
1: data science, c++
2: data scientist, java
3: data base developer, python

In [3]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

# Import the numpy package as np
import numpy as np

# Create a Numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out type of np_baseball
print("List")
print(baseball)
print("Numpy Array")
print(np_baseball)

List
[180, 215, 210, 210, 188, 176, 209, 200]
Numpy Array
[180 215 210 210 188 176 209 200]