In [1]:
# Importing the built in sqllite library
import sqlite3 as sl

In [4]:
#Create an SQLite connection. If the database does not exit it will create a blank database
con = sl.connect('my_test.db')

In [6]:
Creating a Table in the Database
with con:
    con.execute("""
        CREATE TABLE USER (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age INTEGER
        );
    """)

OperationalError: table USER already exists

In [14]:
#Suppose we want to insert multiple entries in one go
sql = 'INSERT INTO USER (id, name, age) values(?, ?, ?)'
data = [
    (1, 'Alice', 21),
    (2, 'Bob', 22),
    (3, 'Chris', 23)
]

In [15]:
#define the SQL statement with question marks ? as a placeholder
with con:
    con.executemany(sql, data)

In [17]:
with con:
    data = con.execute("SELECT * FROM USER")
    for row in data:
        print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)
(3, 'Chris', 23)

In [16]:
with con:
    data = con.execute("SELECT * FROM USER WHERE age <= 22")
    for row in data:
        print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

## Seamless integration with Pandas

In [24]:
import pandas as pd
# Define a data Frame
df_skill = pd.DataFrame({
    'user_id': [1,1,2,2,3,3,3],
    'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']
})

In [25]:
# we can simply call to_sql() method of the data frame to save it into the database.
df_skill.to_sql('SKILL', con)

In [26]:
# Checking the data in the database
with con:
    data = con.execute("SELECT * FROM SKILL")
    for row in data:
        print(row)

(0, 1, 'Network Security')
(1, 1, 'Algorithm Development')
(2, 2, 'Network Security')
(3, 2, 'Java')
(4, 3, 'Python')
(5, 3, 'Data Science')
(6, 3, 'Machine Learning')

In [27]:
#join the table USER and SKILL, and read the result into a Pandas data frame. 

df = pd.read_sql('''
    SELECT s.user_id, u.name, u.age, s.skill 
    FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)

In [29]:
#Writing the dataframe to datbase 
df.to_sql('USER_SKILL', con)

In [30]:
# Checking the data in the database
with con:
    data = con.execute("SELECT * FROM USER_SKILL")
    for row in data:
        print(row)

(0, 1, 'Alice', 21, 'Algorithm Development')
(1, 1, 'Alice', 21, 'Network Security')
(2, 2, 'Bob', 22, 'Java')
(3, 2, 'Bob', 22, 'Network Security')
(4, 3, 'Chris', 23, 'Data Science')
(5, 3, 'Chris', 23, 'Machine Learning')
(6, 3, 'Chris', 23, 'Python')