# **Using pandas read_html to Web Scrape Data for Data Science** 

Chanin Nantasenamat

<i>[Data Professor YouTube channel](http://youtube.com/dataprofessor), http://youtube.com/dataprofessor </i>

In this Jupyter notebook, I will be showing you how to easily web scrape data using pandas read_html() function for your data science project. We will be web scraping NBA player stats data and perform a quick data exploration.

## **URL to the webpage "2018-19 NBA Player Stats: Per Game"**

### Method 1

We could modularize the URL and year strings of text that may be useful for programmatic access (in the subsequent code cell).

In [0]:
# The Building Blocks
year = '2019'
url_link = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'

# Combining the URL + year strings together
url = url_link.format(year)
url

'https://www.basketball-reference.com/leagues/NBA_2019_per_game.html'

Now, let's programmatically return a list of URL given a list of years (e.g. 2015,2016,2017,2018,2019).

In [0]:
years = [2015,2016,2017,2018,2019]
url_link = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'

for year in years:
  url = url_link.format(year)
  print(url)

https://www.basketball-reference.com/leagues/NBA_2015_per_game.html
https://www.basketball-reference.com/leagues/NBA_2016_per_game.html
https://www.basketball-reference.com/leagues/NBA_2017_per_game.html
https://www.basketball-reference.com/leagues/NBA_2018_per_game.html
https://www.basketball-reference.com/leagues/NBA_2019_per_game.html

Method 2

In [15]:
url = 'https://www.basketball-reference.com/leagues/NBA_2019_per_game.html'

## **Read HTML webpage into pandas**

In [5]:
import pandas as pd

### Using pd.read_html() function to read HTML webpage

In [16]:
df = pd.read_html(url, header = 0)
df

[      Rk        Player Pos Age   Tm   G  GS    MP   FG   FGA  ...   FT%  ORB  \
 0      1  Álex Abrines  SG  25  OKC  31   2  19.0  1.8   5.1  ...  .923  0.2
 1      2    Quincy Acy  PF  28  PHO  10   0  12.3  0.4   1.8  ...  .700  0.3
 2      3  Jaylen Adams  PG  22  ATL  34   1  12.6  1.1   3.2  ...  .778  0.3
 3      4  Steven Adams   C  25  OKC  80  80  33.4  6.0  10.1  ...  .500  4.9
 4      5   Bam Adebayo   C  21  MIA  82  28  23.3  3.4   5.9  ...  .735  2.0
 ..   ...           ...  ..  ..  ...  ..  ..   ...  ...   ...  ...   ...  ...
 729  528  Tyler Zeller   C  29  MEM   4   1  20.5  4.0   7.0  ...  .778  2.3
 730  529    Ante Žižić   C  22  CLE  59  25  18.3  3.1   5.6  ...  .705  1.8
 731  530   Ivica Zubac   C  21  TOT  59  37  17.6  3.6   6.4  ...  .802  1.9
 732  530   Ivica Zubac   C  21  LAL  33  12  15.6  3.4   5.8  ...  .864  1.6
 733  530   Ivica Zubac   C  21  LAC  26  25  20.2  3.8   7.2  ...  .733  2.3

      DRB  TRB  AST  STL  BLK  TOV   PF   PTS
 0    1.4  1.5  0.6  0.5  0.2  0.5  1.7   5.3
 1    2.2  2.5  0.8  0.1  0.4  0.4  2.4   1.7
 2    1.4  1.8  1.9  0.4  0.1  0.8  1.3   3.2
 3    4.6  9.5  1.6  1.5  1.0  1.7  2.6  13.9
 4    5.3  7.3  2.2  0.9  0.8  1.5  2.5   8.9
 ..   ...  ...  ...  ...  ...  ...  ...   ...
 729  2.3  4.5  0.8  0.3  0.8  1.0  4.0  11.5
 730  3.6  5.4  0.9  0.2  0.4  1.0  1.9   7.8
 731  4.2  6.1  1.1  0.2  0.9  1.2  2.3   8.9
 732  3.3  4.9  0.8  0.1  0.8  1.0  2.2   8.5
 733  5.3  7.7  1.5  0.4  0.9  1.4  2.5   9.4

 [734 rows x 30 columns]]

### How many tables are there in the webpage?

In [0]:
len(df)

1

### Select the first table

In [0]:
df[0]

      Rk        Player Pos Age   Tm   G  GS  ...  TRB  AST  STL  BLK  TOV   PF   PTS
0      1  Álex Abrines  SG  25  OKC  31   2  ...  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1      2    Quincy Acy  PF  28  PHO  10   0  ...  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2      3  Jaylen Adams  PG  22  ATL  34   1  ...  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3      4  Steven Adams   C  25  OKC  80  80  ...  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4      5   Bam Adebayo   C  21  MIA  82  28  ...  7.3  2.2  0.9  0.8  1.5  2.5   8.9
..   ...           ...  ..  ..  ...  ..  ..  ...  ...  ...  ...  ...  ...  ...   ...
729  528  Tyler Zeller   C  29  MEM   4   1  ...  4.5  0.8  0.3  0.8  1.0  4.0  11.5
730  529    Ante Žižić   C  22  CLE  59  25  ...  5.4  0.9  0.2  0.4  1.0  1.9   7.8
731  530   Ivica Zubac   C  21  TOT  59  37  ...  6.1  1.1  0.2  0.9  1.2  2.3   8.9
732  530   Ivica Zubac   C  21  LAL  33  12  ...  4.9  0.8  0.1  0.8  1.0  2.2   8.5
733  530   Ivica Zubac   C  21  LAC  26  25  ...  7.7  1.5  0.4  0.9  1.4  2.5   9.4

[734 rows x 30 columns]

In [0]:
df2019 = df[0]